[MONITOR_PSQL]
Description=Monitoring Database
Driver=postgresql
Username={{ monitor_database_user }}
Password={{ monitor_database_password }}
Servername={{ monitor_database_server }}
Database={{ monitor_database_name }}
Port={{ monitor_database_port }}
ReadOnly=No
Protocol=7.4+
ShowOidColumn=No
FakeOidIndex=No
RowVersioning=No
ShowSystemTables=No
Fetch=Yes
BoolsAsChar=Yes
#SSLmode=Require
ConnSettings=
~                                                                                            